@charset "utf-8";
/* CSS Document for Pizza Site Project*/

body {
	background-color: #B9250D;
}
a {
	text-decoration: none;
}

a:hover, a:active {
	background-color: green;
} 

.body {
	width: 900px;
	margin: 10px auto;
	border: 2px black solid;
	font-family: 'Love Ya Like A Sister', cursive;
	border-radius: 3px;
}

header a {
	font-size: 20px;
	color: white;
}


h1 {
	text-align: center;
	margin: 0;
	font-family: 'Love Ya Like A Sister', cursive;
	padding: 20px 0 0 0;
	color: #444444;
	font-size: 60px;
}
h2 {
	text-align: center;
	font-family: 'Love Ya Like A Sister', cursive;
	margin: 5px, 0 0 0;
	color: black;
	font-size: 35px;
	margin: -10px 0 5px 0;
}
header {
	background: url("pizza_header.jpg");
	background-position: center;
	background-size: fill;
}
nav {
	background: rgba(255, 0, 0, .5);
	color: white;
	margin: 0;
}
ul {
	padding: 5px;
	position: relative;
	left: 95px;
	margin-top: -5px;
}
li {
	display: inline;
	padding: 0 20px;
	border: 2px solid black;
	border-radius: 5px;
}
.banner {
	margin-top: -16px;
}
.main_content_area {
	width: 900px;
	background: green;
	margin-top: -16px;
	padding-bottom: 60px;
}
.main_content_area img {
	border: 1px red solid;
	border-radius: 10px;
	margin: 15px;
}
.main_content_area a:hover {
	opacity: .4;
	background-color: transparent;
}
.main_content_area a img:hover {
	border: 1px black solid;
}
.subcontent_left {
	height: 630px;
	width: 500px;
	background-color: rgba(224, 194, 102, .7);
	border-radius: 10px;
	position: relative;
	left: 20px;
	top: 30px;
	margin: 0;
	float: left;
}
.left_pictures{
	position:absolute;
	left: 50px;
	top: 40px;
}

.subcontent_right {
	height: 630px;
	width: 300px;
	background-color: rgba(224, 194, 102, .7);
	position: relative;
	border-radius: 10px;
	left: 550px;
	top: 30px;
}
.right_pictures {
	position: absolute;
	left: 40px;
	top: 50px;
}
.right_pictures img {
	margin: 0;
}
.pic2 {
	position: relative;
	left: 25px;
}
.pic2 img {
	margin: 0;
}

#pic3 {
	position: relative;
	top: 20px;
}
#pic5 {
	position: relative;
	top: 30px;
}
.social_bar {
	width: 900px;
	height: 40px;
	background: white;
	position: relative;
	top: 55px;
}
.footer{
	width: 900px;
	height: 30px;
	background: rgba(255, 0, 0, .6);
	position: relative;
	top: 60px;
	border-bottom: 5px;
	border-left: 5px;
}
.footer ul {
	position: relative;
	left: 255px;
}
.footer a {
	color: white;
}
.footer a:hover, a:active {
	opacity: 1;
	background-color: green;
}
.social_icons {
	position: relative;
	top: -10px;
	left: 825px;
}

.social_icons img {
	border: none;
}

.social_icons a img:hover {
	border: none;	
}

