@charset "utf-8";
/* CSS Document for Pizza Site Project*/

body {
	background-color: #B9250D;
}
a {
	text-decoration: none;
	color: white;
}

li:hover, li:active {
	background-color: green;
}

.body {
	width: 900px;
	margin: 10px auto;
	border: 2px black solid;
	font-family: 'Love Ya Like A Sister', cursive;
	border-radius: 3px;
}

ul {
	list-style: none;
	margin: 0px;	
}

li {
	display: inline-block;
	padding: 0 20px;
	border-radius: 5px;
}

header a {
	font-size: 20px;
	color: white;
}
.header_img {
	height: 138px;
}

header {
	height: 173px;
	background: url("pizza_header.jpg");
	background-position: center;
	background-size: fill;
}
nav {
	width: 900px;
	background: rgba(255, 0, 0, .5);
	text-align: center;
}

nav ul {
	padding: 5px;
	position: relative;
}
.banner {
	width: 900px;
	height: 200px;
}
.main_content_area {
	width: 900px;
	height: 665px;
	background: green;
}

.main_content_area img {
	border: 1px red solid;
	border-radius: 10px;
	margin: 15px;
}
.main_content_area a:hover {
	opacity: .4;
	background-color: transparent;
}
.main_content_area a img:hover {
	border: 1px black solid;
}
.subcontent_left {
	height: 630px;
	width: 500px;
	background-color: rgba(224, 194, 102, .7);
	border-radius: 10px;
	position: relative;
	margin: 15px;
	float: left;
}
.left_pictures{
	position:relative;
	left: 50px;
	top: 40px;
}
.right_bottom_pics {
	position: relative;
	left: 25px;
}
.right_bottom_pics img {
	margin: 0;
}
#pic3 {
	position: relative;
	top: 20px;
}
.subcontent_right {
	height: 630px;
	width: 300px;
	background-color: rgba(224, 194, 102, .7);
	border-radius: 10px;
	left: 550px;
	top: 30px;
	margin: 15px;
	float: right;
}
.right_pictures {
	position: relative;
	left: 60px;
	top: 40px;
}
.right_pictures img {
	margin: 0;
}

#pic5 {
	position: relative;
	top: 30px;
}
.social_bar {
	width: 900px;
	height: 40px;
	background: white;
	position: relative;
}

.social_icons {
	position: relative;
	float: right;
	margin: 5px 15px;
}

.social_icons img {
	border: none;
}

.social_icons a img:hover {
	border: none;
	opacity: .6;
}

.footer{
	width: 900px;
	height: 30px;
	background: rgba(255, 0, 0, .6);
	text-align: center;
}
.footer ul {
	padding: 5px;
}

.footer li:hover, li:active {
	background-color: green;
}

